<ion-header >

  <ion-navbar text-center>
    
    <ion-row class="TopBar">
          
      <!-- TOP HEADING -->
      	
      <button ion-button icon-only clear (click)="logout()" end>
          <ion-icon name="side-menu"></ion-icon> 
          <!-- This is currently a blank icon to keep the text in the center -->
        </button>

      <ion-title>
          <span text-color="my-custom-color"> <img height="30"src="../../../assets/imgs/liquidstarlogo.png"> </span>
      </ion-title>	
      <button ion-button icon-only clear (click)="logout()" end>
        <ion-icon name="log-out" class="logoutbtn"></ion-icon>
      </button>
    
 
  </ion-row>

  </ion-navbar>

</ion-header>



<ion-content>

<ion-card>
      <ion-grid style="width: 75%;">
          <!-- <ion-row class="row-style" color="light">
            <ion-col col-10 >
            <ion-input type="text" placeholder="Enter Employee UID for Verification" [(ngModel)]="uid" ></ion-input>
            </ion-col>
          </ion-row> -->
          <ion-row>
            
            <button padding ion-button clear round style="margin-top: 10px;">UID: {{uid}} </button>
           
          </ion-row>

          <ion-row>
            {{ imageface ? "Ensure Orientation is Correct" : "No Photo"}}
          </ion-row>
        
          <ion-row>
          
           <button padding ion-button block round style="margin-top: 10px;" (click)="takePhoto()" class="uploadButton"> FaceID </button>
           
           
           
           

          </ion-row>
          <ion-row>
           {{temp}}
          </ion-row>

          <ion-row>

            <button *ngIf="flag==2" padding ion-button block round style="margin-top: 5px;" class="uploadButton1"> Face Detected!</button>
           
            <button *ngIf="flag==1" padding ion-button block round style="margin-top: 5px;" class="uploadButton1"> No Face Found!</button>
           
            <button *ngIf="isIdentical!=null" padding ion-button block round style="margin-top: 5px;" class="uploadButton1"> Match: {{isIdentical}} </button>
            
            <button *ngIf="confidence!=null" padding ion-button block round style="margin-top: 5px;" class="uploadButton1"> Confidence: {{confidence}} </button>
           
          </ion-row>

          <ion-row> 

           <img *ngIf="imageface!=null" [src]="imageface" style="width: 100px;">

          </ion-row>

          

          <ion-row>

           <button *ngIf="imageface!=null" padding ion-button block round style="margin-top: 10px;" (click)="nextpg()" class="uploadButton"> Next </button>
          </ion-row>  
        
       
           
           
        </ion-grid>
      

  </ion-card>



</ion-content>